@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  background-size: cover;
  overflow: hidden;
  user-select: none;
  
}

.title {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;
  font-size: 37px;
  
}

.main {
  display: flex;
  width: 100vw;
  min-height: 100hw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.question-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: center;
  width: 100vw;
}

.question{
  font-size: 18px;
  padding-bottom: 10px;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-log:hover{
  background-color: aqua;
}

.new-log:active{
  scale: 0.9;
  filter: brightness(150%);
}

.hidden {
  display: none !important;
}

.yes-button{
  margin-right: 15px;
}

.yes-button:hover{
  background-color: hotpink;
  
}

.yes-button:active{
  scale: 0.9;
  filter: brightness(1.2);
}

.no-button:hover{
  background-color: aqua;
}

.no-button:active{
  scale: 0.9;
  filter: brightness(1.2);
}


.pet-main-container {
  display: grid;
  grid-template-rows: 300px 30px;
}


.tamagotchi{
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 330px
}

.tamagotchi:hover{
  scale: 1.1;
  filter: contrast(150%);
}

.facial-expression{
  width: 100vw;
}
.eye, 
.emotion,
.body,
.clothes,
.headphone,
.eyeglass,
.heart  {
  position: absolute;
  top: 60px;
  width: 350px;
  image-rendering: pixelated;
}

.tamagotchi.jumping {
  animation: little-jump 0.6s infinite ease-in-out;
}


@keyframes little-jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); 
  }
}




.settings-button {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;
  
}

.settings-button:active{
  scale: 0.9;
}

.button-1:hover {
  background-color: deeppink;
}

.clicked-button-1{
  background-color: deeppink;
}

.button-2:hover{
  background-color: deepskyblue;
}

.clicked-button-2{
  background-color: deepskyblue;
}

.button-3:hover{
  background-color: greenyellow;
}

.clicked-button-3{
  background-color: greenyellow;
}

.button-4:hover{
  background-color: red;
}

.clicked-button-4{
  background-color: red;
}

.last-cleaned-day {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}
